[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dmoggles
[access "refs/for/refs/*"]
	read = group user/dmoggles
	push = group user/dmoggles
	label-Code-Review = -2..+2 group user/dmoggles
	label-Verified = -1..+1 group user/dmoggles
	rebase = group user/dmoggles
	removeReviewer = group user/dmoggles
	submit = group user/dmoggles
[access "refs/heads/*"]
	read = group user/dmoggles
	create = group user/dmoggles
	push = +force group user/dmoggles
	pushMerge = group user/dmoggles
[access "refs/tags/*"]
	push = +force group user/dmoggles
	pushTag = group user/dmoggles
	pushSignedTag = group user/dmoggles
